.vacasky-right-side-panel {
    position: sticky;
    position: -webkit-sticky;
    top: 121px;
    background-color: $white;
    z-index: 5;
    padding: $_30px;
}
.inner-contents {
    @include rfs($_50px, padding-top);
    // @include rfs($_50px, padding-left);
    // @include rfs($_10px, padding-right);
}

.vacasky-vertical-nav {
    width: 100%;
    @include rfs(345px, max-width);
    transition: $transition-base;
}

.header,
.main-wrapper {
    // margin-left: 345px;
    @include rfs(345px, margin-left);
    transition: $transition-base;
}
.forFixedNav .main-wrapper {
    padding-top: 118px;
}
.vacasky-combo-nav,
.vacasky-horizontal-nav {
    display: none;
}

// Horizontal Nav
.layout-horizontal-nav {
    .vacasky-default-nav,
    .vacasky-combo-nav {
        display: none;
    }
    .vacasky-horizontal-nav {
        display: block;
    }
    .vacasky-vertical-nav {
        display: none;
    }
    .header {
        margin-left: 0px;
        &.vacasky-default-nav {
            display: none;
        }
    }
    .main-wrapper {
        margin-left: 0px;
    }
}

// Combo Nav
.layout-combo-nav {
    .vacasky-default-nav,
    .vacasky-horizontal-nav {
        display: none;
    }
    .vacasky-combo-nav {
        display: block;
    }
    .vacasky-vertical-nav {
        .hidden-header {
            display: none;
        }
    }
    .header {
        margin-left: 0px;
        &.vacasky-default-nav {
            display: none;
        }
    }
    .main-wrapper {
        margin-left: 0px;
    }
}

// Menu Collapse added at Body tag
.vacasky-vertical-nav--collapse {
    .vacasky-vertical-nav {
        position: absolute;
        bottom: 0;
        max-width: 120px;
        height: 100%;
        overflow: visible;
        padding: 30px 20px;
        .hidden-header {
            display: none;
        }
        .logo {
            justify-content: center;
            padding: 0px 0px;
            .logo-text {
                display: none;
            }
            img {
                max-width: 80px;
            }
            .profile-info {
                display: none;
            }
        }
        .vacasky-vertical-nav-toggle {
            position: absolute;
            left: 110%;
        }
        ul.main-menu li {
            ul {
                display: none !important;
            }
            a {
                width: 100%;
                padding: 8px 26px;
                border-radius: $border-radius-sm;
                .nav-icon {
                    margin-right: 0px;
                }
                .nav-text {
                    display: none;
                }
                .menuIndicator {
                    display: none;
                }
            }
            .submenu-opener {
                display: none;
            }
            &:hover {
                width: 310px;
                overflow: visible;
                ul {
                    display: block !important;
                    position: absolute;
                    left: 60px;
                    width: 250px;
                }
                a {
                    .nav-icon {
                        margin-right: 25px;
                    }
                    .nav-text {
                        display: block;
                    }
                }
            }
            ul li a {
                padding: 8px 20px;
            }
        }
        .menu-title {
            display: none
        }
        .boost-card {
            display: none;
        }
        .menu-section-title {
            border-bottom: 1px solid $light-400;
            span {
                display: none
            }
        }
    }
    .header,
    .main-wrapper {
        @include rfs(120px, margin-left);
    }
}

// Mobile Menu Open 
.vacasky-mobile-menu-opener {
    .close {
        display: none;
    }
}

// Side Menu Active 
.vacasky-vertical-nav--active {
    .vacasky-mobile-menu-opener {
        .open {
            display: none;
        }
        .close {
            display: block;
        }
    }
    .vacasky-vertical-nav {
        left: 0;
    }
}


@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    // .vacasky-vertical-nav {
    //     position: absolute;
    //     bottom: 0;
    //     @include rfs(120px, max-width);
    //     height: 100%;
    //     overflow: visible;
    //     padding: 30px 20px;
    //     .logo {
    //         justify-content: center;
    //         padding: 0px 0px;
    //         .logo-text {
    //             display: none;
    //         }
    //     }
    //     ul.main-menu li {
    //         ul {
    //             display: none !important;
    //         }
    //         a {
    //             width: 100%;
    //             padding: 8px 26px;
    //             border-radius: $border-radius-sm;
    //             .nav-icon {
    //                 margin-right: 0px;
    //             }
    //             .nav-text {
    //                 display: none;
    //             }
    //             .menuIndicator {
    //                 display: none;
    //             }
    //         }
    //         .submenu-opener {
    //             display: none;
    //         }
    //         &:hover {
    //             width: 310px;
    //             overflow: visible;
    //             ul {
    //                 display: block !important;
    //                 position: absolute;
    //                 left: 60px;
    //                 width: 250px;
    //             }
    //             a {
    //                 .nav-icon {
    //                     margin-right: 25px;
    //                 }
    //                 .nav-text {
    //                     display: block;
    //                 }
    //             }
    //         }
    //         ul li a {
    //             padding: 8px 20px;
    //         }
    //     }
    //     .menu-title {
    //         display: none
    //     }        
    //     .boost-card {
    //         display: none;
    //     }
    // }
}
@media screen and (max-width: 1199.98px) {
    .header {
        padding: $_10px $_50px;
    }
    .header,
    .main-wrapper {
        margin-left: 0px;
    }

    .inner-contents {
        @include rfs($_0px, padding-left);
        @include rfs($_0px, padding-right);
    }

    .layout-horizontal-nav {
        .vacasky-vertical-nav {
            display: block;
        }
    }
    .forFixedNav .main-wrapper {
        padding-top: 75px;
    }

    .vacasky-vertical-nav--collapse {
        .header,
        .main-wrapper {
            margin-left: 0px;
        }
    }
    .vacasky-vertical-nav {
        left: -150%;
        width: 345px;
        max-width: 345px;
    }

    .vacasky-vertical-nav--collapse .vacasky-vertical-nav {
        width: 120px;
        max-width: 120px;
    }
    .vacasky-vertical-nav--collapse.vacasky-vertical-nav--active .header,
    .vacasky-vertical-nav--collapse.vacasky-vertical-nav--active .main-wrapper {
        margin-left: 120px;
    }
}

@media screen and (max-width: 991.98px) {
    
    
}

@media screen and (max-width: 575.98px) {
    .vacasky-vertical-nav--collapse.vacasky-vertical-nav--active .header,
    .vacasky-vertical-nav--collapse.vacasky-vertical-nav--active .main-wrapper {
        margin-left: 0px;
    }
}