//Tooltips
.tooltip-primary {
    --vacasky-tooltip-bg: var(--vacasky-primary);
}
.tooltip-secondary {
    --vacasky-tooltip-bg: var(--vacasky-secondary);
}
.tooltip-success {
    --vacasky-tooltip-bg: var(--vacasky-success);
}
.tooltip-info {
    --vacasky-tooltip-bg: var(--vacasky-info);
}
.tooltip-warning {
    --vacasky-tooltip-bg: var(--vacasky-warning);
}
.tooltip-danger {
    --vacasky-tooltip-bg: var(--vacasky-danger);
}
.tooltip-dark {
    --vacasky-tooltip-bg: var(--vacasky-dark);
}
.tooltip-orange {
    --vacasky-tooltip-bg: var(--vacasky-orange);
}
.tooltip-light {
    --vacasky-tooltip-bg: var(--vacasky-light);
}
.tooltip-white {
    --vacasky-tooltip-bg: var(--vacasky-white);
}